Django==1.4.1
wsgiref==0.1.2
django-etc==1.2.0
django-filter==2.2.0
django-heroku==0.3.1

numpy==1.19.1
oauthlib==3.1.0
parse==1.15.0
parsedatetime==2.6
Pillow==7.1.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
djangorestframework==3.11.0
Django==3.0.7
Pygments==2.6.1
Markdown==3.2.1
coreapi==2.3.3
psycopg2-binary==2.8.4
dj-database-url==0.5.0
