@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #333333;
	}
	.politics_version{
		overflow-x:hidden;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.language-section{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.language-list{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 50px;
	  width: 100%;
	}
	.language-list li{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		cursor: pointer;
		width: 100%;
	}
}
@media (max-width: 767px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 24px;
	}
	.heading p{
		font-size: 12px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.language-section{
		display: flex;
		/* justify-content: center; */
		/* align-items: center; */
	}
	.language-list{
	  display: flex;
	  /* justify-content: center; */
	  /* align-items: center; */
	  /* max-width: 70%; */
	  font-size: 25px;
	}
	.language-list li{
		display: flex;
		/* justify-content: space-between; */
		/* align-items: center; */
		max-width: 70%;
		font-size: 23px;
	}
	.language-list li i{
		display: flex;
		/* justify-content: center; */
		/* align-items: center; */
		/* max-width: 50%; */
		font-size: 23px;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		background-color: #333333;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 20px;
	}
	.heading p{
		font-size: 11px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	.language-section{
		display: flex;
		font-size: 20px;
		/* justify-content: start; */
		/* align-items: left; */
		/* width: 100%; */
	}
	.language-list{
	  display: flex;
	  /* justify-content: start; */
	  /* align-items: center; */
	  max-width: 30%;
	}
	.language-list li{
		display: flex;
		/* justify-content: space-between; */
		/* align-items: center; */
		flex-direction: column;
		/* max-width: 30%; */
		font-size: 20px;
		cursor: pointer;
	}
	.language-list li i{
		display: flex;
		/* justify-content: center; */
		/* align-items: center; */
		flex-direction: column;
		max-width: 30%;
	}

}
